In [2]:
# import libraries
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [3]:
#import data set
ds=pd.read_csv("raw_messy_dataset.csv")
print(ds.to_string())

        Name      Age  Gender               Email     Join_Date   Salary   Department
0      Alice      NaN     NaN   user0@example.com    2021-05-21      NaN        Admin
1        Bob       40       M   user1@example.com           NaN    50000  Engineering
2    Charlie  unknown    Male   user2@example.com    2020/01/01    50000           HR
3      David      NaN     NaN   user3@example.com    2021-05-21    70000        Admin
4        Eva       35   Other   user4@example.com  July 4, 2020    70000  Engineering
5      Frank  unknown   Other   user5@example.com           NaN    70000        Admin
6      Grace  unknown  Female   user6@example.com  July 4, 2020    80000  Engineering
7     Hannah      NaN   Other   user7@example.com    2021-05-21      NaN           HR
8        Ivy       30  Female   user8@example.com           NaN    50000  Engineering
9       Jack       35    Male   user9@example.com    2020/01/01    80000  Engineering
10     Alice      NaN       M  user10@example.com    2021-05-21    70000  Engineering
11       Bob       35       M  user11@example.com  July 4, 2020    50000        Sales
12   Charlie       35       M  user12@example.com    22-06-2022    80000        Sales
13     David  unknown   Other  user13@example.com           NaN      NaN        Sales
14       Eva       40    Male  user14@example.com  July 4, 2020    80000           HR
15     Frank       35   Other  user15@example.com           NaN      NaN        Admin
16     Grace      NaN   Other  user16@example.com    2021-05-21    70000          NaN
17    Hannah  unknown    Male  user17@example.com           NaN      NaN  Engineering
18       Ivy       30    Male  user18@example.com    2021-05-21    50000  Engineering
19      Jack       40    Male  user19@example.com           NaN    70000           HR
20     Alice      NaN    Male  user20@example.com    2021-05-21    50000  Engineering
21       Bob      NaN       M  user21@example.com    22-06-2022  unknown        Sales
22   Charlie       30       F  user22@example.com           NaN    60000          NaN
23     David       40       F  user23@example.com           NaN      NaN    Marketing
24       Eva  unknown    Male  user24@example.com           NaN    60000  Engineering
25     Frank       25       F  user25@example.com    22-06-2022    60000        Sales
26     Grace       40       F  user26@example.com  July 4, 2020      NaN    Marketing
27    Hannah       30    Male  user27@example.com    2021-05-21    70000          NaN
28       Ivy      NaN       F  user28@example.com    2020/01/01  unknown    Marketing
29      Jack  unknown   Other  user29@example.com    2021-05-21    50000        Sales
30     Alice       40  Female  user30@example.com    2021-05-21    80000        Admin
31       Bob       25  Female  user31@example.com  July 4, 2020    50000        Admin
32   Charlie       25    Male  user32@example.com    2021-05-21    80000    Marketing
33     David       35       M  user33@example.com    22-06-2022    50000           HR
34       Eva       35    Male  user34@example.com    22-06-2022      NaN    Marketing
35     Frank      NaN       M  user35@example.com           NaN  unknown  Engineering
36     Grace       30  Female  user36@example.com           NaN    80000  Engineering
37    Hannah       40    Male  user37@example.com    2020/01/01      NaN        Admin
38       Ivy       40     NaN  user38@example.com    2021-05-21    70000           HR
39      Jack      NaN   Other  user39@example.com    2021-05-21    50000        Sales
40     Alice      NaN       F  user40@example.com  July 4, 2020    50000  Engineering
41       Bob      NaN       M  user41@example.com           NaN    80000        Admin
42   Charlie      NaN     NaN  user42@example.com    22-06-2022    70000          NaN
43     David      NaN       F  user43@example.com    2020/01/01    70000        Admin
44       Eva       35       F  user44@example.com           NaN      NaN  Engineering
45     Frank       40    Male  user45@example.com    22-06-2022      NaN  Engineering
46     Grace      NaN       F  user46@example.com           NaN      NaN        Admin
47    Hannah       40   Other  user47@example.com           NaN      NaN        Sales
48       Ivy       25     NaN  user48@example.com  July 4, 2020      NaN    Marketing
49      Jack       35       F  user49@example.com  July 4, 2020      NaN  Engineering
50     Alice  unknown    Male  user50@example.com    2021-05-21      NaN        Admin
51       Bob       35   Other  user51@example.com           NaN  unknown        Admin
52   Charlie      NaN  Female  user52@example.com    2020/01/01    70000           HR
53     David  unknown     NaN  user53@example.com           NaN      NaN    Marketing
54       Eva       25       F  user54@example.com    22-06-2022    70000          NaN
55     Frank      NaN    Male  user55@example.com           NaN    70000        Sales
56     Grace       30  Female  user56@example.com           NaN    60000          NaN
57    Hannah       40  Female  user57@example.com  July 4, 2020  unknown    Marketing
58       Ivy       25       M  user58@example.com    2021-05-21      NaN    Marketing
59      Jack       40   Other  user59@example.com    2021-05-21    50000    Marketing
60     Alice      NaN       F  user60@example.com           NaN    80000          NaN
61       Bob       30    Male  user61@example.com  July 4, 2020      NaN    Marketing
62   Charlie       30       M  user62@example.com           NaN    50000        Admin
63     David       25   Other  user63@example.com    2020/01/01  unknown          NaN
64       Eva       30       M  user64@example.com  July 4, 2020    80000    Marketing
65     Frank  unknown     NaN  user65@example.com           NaN  unknown        Admin
66     Grace       30   Other  user66@example.com           NaN    70000           HR
67    Hannah       40   Other  user67@example.com  July 4, 2020    80000    Marketing
68       Ivy       40       F  user68@example.com           NaN    70000          NaN
69      Jack      NaN   Other  user69@example.com  July 4, 2020    50000  Engineering
70     Alice       40       M  user70@example.com    22-06-2022    50000    Marketing
71       Bob      NaN   Other  user71@example.com  July 4, 2020    80000  Engineering
72   Charlie       40       F  user72@example.com  July 4, 2020    80000        Admin
73     David  unknown       F  user73@example.com           NaN      NaN           HR
74       Eva      NaN     NaN  user74@example.com           NaN  unknown        Sales
75     Frank       35       M  user75@example.com    2021-05-21      NaN           HR
76     Grace      NaN  Female  user76@example.com    2021-05-21  unknown    Marketing
77    Hannah       25  Female  user77@example.com    22-06-2022      NaN  Engineering
78       Ivy       40   Other  user78@example.com    2021-05-21    70000  Engineering
79      Jack       30     NaN  user79@example.com  July 4, 2020    80000          NaN
80     Alice       40    Male  user80@example.com           NaN    50000  Engineering
81       Bob       30   Other  user81@example.com    2021-05-21  unknown          NaN
82   Charlie      NaN     NaN  user82@example.com    2021-05-21  unknown        Admin
83     David      NaN       M  user83@example.com    22-06-2022    50000        Sales
84       Eva      NaN       M  user84@example.com           NaN      NaN    Marketing
85     Frank       30       M  user85@example.com    22-06-2022  unknown          NaN
86     Grace       40       M  user86@example.com  July 4, 2020      NaN        Sales
87    Hannah      NaN       M  user87@example.com           NaN    70000  Engineering
88       Ivy  unknown     NaN  user88@example.com    22-06-2022    80000  Engineering
89      Jack      NaN     NaN  user89@example.com    2021-05-21    50000        Sales
90     Alice       30       F                 NaN           NaN    80000  Engineering
91       Bob       30  Female                 NaN           NaN      NaN        Admin
92   Charlie       40       M                 NaN    2021-05-21  unknown        Admin
93     David       30    Male                 NaN    22-06-2022  unknown        Sales
94       Eva       30     NaN                 NaN    2021-05-21      NaN          NaN
95     Frank      NaN    Male                 NaN           NaN    50000          NaN
96     Grace       40    Male                 NaN           NaN    70000        Sales
97    Hannah      NaN    Male                 NaN    2020/01/01    60000          NaN
98       Ivy      NaN       F                 NaN    2020/01/01    50000          NaN
99      Jack      NaN     NaN                 NaN  July 4, 2020    60000        Admin
100    Alice      NaN     NaN   user0@example.com    2021-05-21      NaN        Admin
101      Bob       40       M   user1@example.com           NaN    50000  Engineering
102  Charlie  unknown    Male   user2@example.com    2020/01/01    50000           HR
103    David      NaN     NaN   user3@example.com    2021-05-21    70000        Admin
104      Eva       35   Other   user4@example.com  July 4, 2020    70000  Engineering

In [4]:
ds.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 105 entries, 0 to 104
Data columns (total 7 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Name        105 non-null    object
 1   Age         72 non-null     object
 2   Gender      89 non-null     object
 3   Email       95 non-null     object
 4   Join_Date   70 non-null     object
 5   Salary      78 non-null     object
 6   Department  89 non-null     object
dtypes: object(7)
memory usage: 5.9+ KB

In [5]:
ds.describe()

         Name Age Gender              Email   Join_Date Salary   Department
count     105  72     89                 95          70     78           89
unique     10   5      5                 90           4      5            5
top     Alice  40   Male  user0@example.com  2021-05-21  50000  Engineering
freq       11  22     22                  2          26     22           26

In [6]:
#searching for duplicates
ds.duplicated().sum()

5

In [7]:
#removing dulicates
ds.drop_duplicates(inplace=True)

In [8]:
#searching for duplicates
ds.duplicated().sum()

0

In [9]:
#handling age
ds["Age"]=pd.to_numeric(ds["Age"],errors='coerce')

In [10]:
x=ds["Age"].median()
ds["Age"].fillna(x)

0     35.0
1     40.0
2     35.0
3     35.0
4     35.0
      ...
95    35.0
96    40.0
97    35.0
98    35.0
99    35.0
Name: Age, Length: 100, dtype: float64

In [11]:
#finding duplicates
ds["Gender"].unique()

array([nan, 'M', 'Male', 'Other', 'Female', 'F'], dtype=object)

In [12]:
ds["Gender"]=ds["Gender"].replace({
    "M":"Male","F":"Female","":"none"
})

In [13]:
ds.info()

<class 'pandas.core.frame.DataFrame'>
Index: 100 entries, 0 to 99
Data columns (total 7 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Name        100 non-null    object
 1   Age         57 non-null     float64
 2   Gender      86 non-null     object
 3   Email       90 non-null     object
 4   Join_Date   66 non-null     object
 5   Salary      74 non-null     object
 6   Department  84 non-null     object
dtypes: float64(1), object(6)
memory usage: 6.2+ KB

In [14]:
ds["Gender"].unique()

array([nan, 'Male', 'Other', 'Female'], dtype=object)

In [29]:
#handling missing values in email column
ds["Email"].fillna("-",inplace=True)

C:\Users\kirti\AppData\Local\Temp\ipykernel_11148\4156150150.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  ds["Email"].fillna("-",inplace=True)

In [16]:
ds.columns

Index(['Name', 'Age', 'Gender', 'Email', 'Join_Date', 'Salary', 'Department'], dtype='object')

In [17]:
print(ds.to_string())

       Name   Age  Gender               Email     Join_Date   Salary   Department
0     Alice   NaN     NaN   user0@example.com    2021-05-21      NaN        Admin
1       Bob  40.0    Male   user1@example.com           NaN    50000  Engineering
2   Charlie   NaN    Male   user2@example.com    2020/01/01    50000           HR
3     David   NaN     NaN   user3@example.com    2021-05-21    70000        Admin
4       Eva  35.0   Other   user4@example.com  July 4, 2020    70000  Engineering
5     Frank   NaN   Other   user5@example.com           NaN    70000        Admin
6     Grace   NaN  Female   user6@example.com  July 4, 2020    80000  Engineering
7    Hannah   NaN   Other   user7@example.com    2021-05-21      NaN           HR
8       Ivy  30.0  Female   user8@example.com           NaN    50000  Engineering
9      Jack  35.0    Male   user9@example.com    2020/01/01    80000  Engineering
10    Alice   NaN    Male  user10@example.com    2021-05-21    70000  Engineering
11      Bob  35.0    Male  user11@example.com  July 4, 2020    50000        Sales
12  Charlie  35.0    Male  user12@example.com    22-06-2022    80000        Sales
13    David   NaN   Other  user13@example.com           NaN      NaN        Sales
14      Eva  40.0    Male  user14@example.com  July 4, 2020    80000           HR
15    Frank  35.0   Other  user15@example.com           NaN      NaN        Admin
16    Grace   NaN   Other  user16@example.com    2021-05-21    70000          NaN
17   Hannah   NaN    Male  user17@example.com           NaN      NaN  Engineering
18      Ivy  30.0    Male  user18@example.com    2021-05-21    50000  Engineering
19     Jack  40.0    Male  user19@example.com           NaN    70000           HR
20    Alice   NaN    Male  user20@example.com    2021-05-21    50000  Engineering
21      Bob   NaN    Male  user21@example.com    22-06-2022  unknown        Sales
22  Charlie  30.0  Female  user22@example.com           NaN    60000          NaN
23    David  40.0  Female  user23@example.com           NaN      NaN    Marketing
24      Eva   NaN    Male  user24@example.com           NaN    60000  Engineering
25    Frank  25.0  Female  user25@example.com    22-06-2022    60000        Sales
26    Grace  40.0  Female  user26@example.com  July 4, 2020      NaN    Marketing
27   Hannah  30.0    Male  user27@example.com    2021-05-21    70000          NaN
28      Ivy   NaN  Female  user28@example.com    2020/01/01  unknown    Marketing
29     Jack   NaN   Other  user29@example.com    2021-05-21    50000        Sales
30    Alice  40.0  Female  user30@example.com    2021-05-21    80000        Admin
31      Bob  25.0  Female  user31@example.com  July 4, 2020    50000        Admin
32  Charlie  25.0    Male  user32@example.com    2021-05-21    80000    Marketing
33    David  35.0    Male  user33@example.com    22-06-2022    50000           HR
34      Eva  35.0    Male  user34@example.com    22-06-2022      NaN    Marketing
35    Frank   NaN    Male  user35@example.com           NaN  unknown  Engineering
36    Grace  30.0  Female  user36@example.com           NaN    80000  Engineering
37   Hannah  40.0    Male  user37@example.com    2020/01/01      NaN        Admin
38      Ivy  40.0     NaN  user38@example.com    2021-05-21    70000           HR
39     Jack   NaN   Other  user39@example.com    2021-05-21    50000        Sales
40    Alice   NaN  Female  user40@example.com  July 4, 2020    50000  Engineering
41      Bob   NaN    Male  user41@example.com           NaN    80000        Admin
42  Charlie   NaN     NaN  user42@example.com    22-06-2022    70000          NaN
43    David   NaN  Female  user43@example.com    2020/01/01    70000        Admin
44      Eva  35.0  Female  user44@example.com           NaN      NaN  Engineering
45    Frank  40.0    Male  user45@example.com    22-06-2022      NaN  Engineering
46    Grace   NaN  Female  user46@example.com           NaN      NaN        Admin
47   Hannah  40.0   Other  user47@example.com           NaN      NaN        Sales
48      Ivy  25.0     NaN  user48@example.com  July 4, 2020      NaN    Marketing
49     Jack  35.0  Female  user49@example.com  July 4, 2020      NaN  Engineering
50    Alice   NaN    Male  user50@example.com    2021-05-21      NaN        Admin
51      Bob  35.0   Other  user51@example.com           NaN  unknown        Admin
52  Charlie   NaN  Female  user52@example.com    2020/01/01    70000           HR
53    David   NaN     NaN  user53@example.com           NaN      NaN    Marketing
54      Eva  25.0  Female  user54@example.com    22-06-2022    70000          NaN
55    Frank   NaN    Male  user55@example.com           NaN    70000        Sales
56    Grace  30.0  Female  user56@example.com           NaN    60000          NaN
57   Hannah  40.0  Female  user57@example.com  July 4, 2020  unknown    Marketing
58      Ivy  25.0    Male  user58@example.com    2021-05-21      NaN    Marketing
59     Jack  40.0   Other  user59@example.com    2021-05-21    50000    Marketing
60    Alice   NaN  Female  user60@example.com           NaN    80000          NaN
61      Bob  30.0    Male  user61@example.com  July 4, 2020      NaN    Marketing
62  Charlie  30.0    Male  user62@example.com           NaN    50000        Admin
63    David  25.0   Other  user63@example.com    2020/01/01  unknown          NaN
64      Eva  30.0    Male  user64@example.com  July 4, 2020    80000    Marketing
65    Frank   NaN     NaN  user65@example.com           NaN  unknown        Admin
66    Grace  30.0   Other  user66@example.com           NaN    70000           HR
67   Hannah  40.0   Other  user67@example.com  July 4, 2020    80000    Marketing
68      Ivy  40.0  Female  user68@example.com           NaN    70000          NaN
69     Jack   NaN   Other  user69@example.com  July 4, 2020    50000  Engineering
70    Alice  40.0    Male  user70@example.com    22-06-2022    50000    Marketing
71      Bob   NaN   Other  user71@example.com  July 4, 2020    80000  Engineering
72  Charlie  40.0  Female  user72@example.com  July 4, 2020    80000        Admin
73    David   NaN  Female  user73@example.com           NaN      NaN           HR
74      Eva   NaN     NaN  user74@example.com           NaN  unknown        Sales
75    Frank  35.0    Male  user75@example.com    2021-05-21      NaN           HR
76    Grace   NaN  Female  user76@example.com    2021-05-21  unknown    Marketing
77   Hannah  25.0  Female  user77@example.com    22-06-2022      NaN  Engineering
78      Ivy  40.0   Other  user78@example.com    2021-05-21    70000  Engineering
79     Jack  30.0     NaN  user79@example.com  July 4, 2020    80000          NaN
80    Alice  40.0    Male  user80@example.com           NaN    50000  Engineering
81      Bob  30.0   Other  user81@example.com    2021-05-21  unknown          NaN
82  Charlie   NaN     NaN  user82@example.com    2021-05-21  unknown        Admin
83    David   NaN    Male  user83@example.com    22-06-2022    50000        Sales
84      Eva   NaN    Male  user84@example.com           NaN      NaN    Marketing
85    Frank  30.0    Male  user85@example.com    22-06-2022  unknown          NaN
86    Grace  40.0    Male  user86@example.com  July 4, 2020      NaN        Sales
87   Hannah   NaN    Male  user87@example.com           NaN    70000  Engineering
88      Ivy   NaN     NaN  user88@example.com    22-06-2022    80000  Engineering
89     Jack   NaN     NaN  user89@example.com    2021-05-21    50000        Sales
90    Alice  30.0  Female                   -           NaN    80000  Engineering
91      Bob  30.0  Female                   -           NaN      NaN        Admin
92  Charlie  40.0    Male                   -    2021-05-21  unknown        Admin
93    David  30.0    Male                   -    22-06-2022  unknown        Sales
94      Eva  30.0     NaN                   -    2021-05-21      NaN          NaN
95    Frank   NaN    Male                   -           NaN    50000          NaN
96    Grace  40.0    Male                   -           NaN    70000        Sales
97   Hannah   NaN    Male                   -    2020/01/01    60000          NaN
98      Ivy   NaN  Female                   -    2020/01/01    50000          NaN
99     Jack   NaN     NaN                   -  July 4, 2020    60000        Admin

In [18]:
#handling Date column

ds["Join_Date"]=pd.to_datetime(ds["Join_Date"],errors='coerce')

In [19]:
ds.info()

<class 'pandas.core.frame.DataFrame'>
Index: 100 entries, 0 to 99
Data columns (total 7 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Name        100 non-null    object
 1   Age         57 non-null     float64
 2   Gender      86 non-null     object
 3   Email       100 non-null    object
 4   Join_Date   24 non-null     datetime64[ns]
 5   Salary      74 non-null     object
 6   Department  84 non-null     object
dtypes: datetime64[ns](1), float64(1), object(5)
memory usage: 6.2+ KB

In [20]:
print(ds.to_string())

       Name   Age  Gender               Email  Join_Date   Salary   Department
0     Alice   NaN     NaN   user0@example.com 2021-05-21      NaN        Admin
1       Bob  40.0    Male   user1@example.com        NaT    50000  Engineering
2   Charlie   NaN    Male   user2@example.com        NaT    50000           HR
3     David   NaN     NaN   user3@example.com 2021-05-21    70000        Admin
4       Eva  35.0   Other   user4@example.com        NaT    70000  Engineering
5     Frank   NaN   Other   user5@example.com        NaT    70000        Admin
6     Grace   NaN  Female   user6@example.com        NaT    80000  Engineering
7    Hannah   NaN   Other   user7@example.com 2021-05-21      NaN           HR
8       Ivy  30.0  Female   user8@example.com        NaT    50000  Engineering
9      Jack  35.0    Male   user9@example.com        NaT    80000  Engineering
10    Alice   NaN    Male  user10@example.com 2021-05-21    70000  Engineering
11      Bob  35.0    Male  user11@example.com        NaT    50000        Sales
12  Charlie  35.0    Male  user12@example.com        NaT    80000        Sales
13    David   NaN   Other  user13@example.com        NaT      NaN        Sales
14      Eva  40.0    Male  user14@example.com        NaT    80000           HR
15    Frank  35.0   Other  user15@example.com        NaT      NaN        Admin
16    Grace   NaN   Other  user16@example.com 2021-05-21    70000          NaN
17   Hannah   NaN    Male  user17@example.com        NaT      NaN  Engineering
18      Ivy  30.0    Male  user18@example.com 2021-05-21    50000  Engineering
19     Jack  40.0    Male  user19@example.com        NaT    70000           HR
20    Alice   NaN    Male  user20@example.com 2021-05-21    50000  Engineering
21      Bob   NaN    Male  user21@example.com        NaT  unknown        Sales
22  Charlie  30.0  Female  user22@example.com        NaT    60000          NaN
23    David  40.0  Female  user23@example.com        NaT      NaN    Marketing
24      Eva   NaN    Male  user24@example.com        NaT    60000  Engineering
25    Frank  25.0  Female  user25@example.com        NaT    60000        Sales
26    Grace  40.0  Female  user26@example.com        NaT      NaN    Marketing
27   Hannah  30.0    Male  user27@example.com 2021-05-21    70000          NaN
28      Ivy   NaN  Female  user28@example.com        NaT  unknown    Marketing
29     Jack   NaN   Other  user29@example.com 2021-05-21    50000        Sales
30    Alice  40.0  Female  user30@example.com 2021-05-21    80000        Admin
31      Bob  25.0  Female  user31@example.com        NaT    50000        Admin
32  Charlie  25.0    Male  user32@example.com 2021-05-21    80000    Marketing
33    David  35.0    Male  user33@example.com        NaT    50000           HR
34      Eva  35.0    Male  user34@example.com        NaT      NaN    Marketing
35    Frank   NaN    Male  user35@example.com        NaT  unknown  Engineering
36    Grace  30.0  Female  user36@example.com        NaT    80000  Engineering
37   Hannah  40.0    Male  user37@example.com        NaT      NaN        Admin
38      Ivy  40.0     NaN  user38@example.com 2021-05-21    70000           HR
39     Jack   NaN   Other  user39@example.com 2021-05-21    50000        Sales
40    Alice   NaN  Female  user40@example.com        NaT    50000  Engineering
41      Bob   NaN    Male  user41@example.com        NaT    80000        Admin
42  Charlie   NaN     NaN  user42@example.com        NaT    70000          NaN
43    David   NaN  Female  user43@example.com        NaT    70000        Admin
44      Eva  35.0  Female  user44@example.com        NaT      NaN  Engineering
45    Frank  40.0    Male  user45@example.com        NaT      NaN  Engineering
46    Grace   NaN  Female  user46@example.com        NaT      NaN        Admin
47   Hannah  40.0   Other  user47@example.com        NaT      NaN        Sales
48      Ivy  25.0     NaN  user48@example.com        NaT      NaN    Marketing
49     Jack  35.0  Female  user49@example.com        NaT      NaN  Engineering
50    Alice   NaN    Male  user50@example.com 2021-05-21      NaN        Admin
51      Bob  35.0   Other  user51@example.com        NaT  unknown        Admin
52  Charlie   NaN  Female  user52@example.com        NaT    70000           HR
53    David   NaN     NaN  user53@example.com        NaT      NaN    Marketing
54      Eva  25.0  Female  user54@example.com        NaT    70000          NaN
55    Frank   NaN    Male  user55@example.com        NaT    70000        Sales
56    Grace  30.0  Female  user56@example.com        NaT    60000          NaN
57   Hannah  40.0  Female  user57@example.com        NaT  unknown    Marketing
58      Ivy  25.0    Male  user58@example.com 2021-05-21      NaN    Marketing
59     Jack  40.0   Other  user59@example.com 2021-05-21    50000    Marketing
60    Alice   NaN  Female  user60@example.com        NaT    80000          NaN
61      Bob  30.0    Male  user61@example.com        NaT      NaN    Marketing
62  Charlie  30.0    Male  user62@example.com        NaT    50000        Admin
63    David  25.0   Other  user63@example.com        NaT  unknown          NaN
64      Eva  30.0    Male  user64@example.com        NaT    80000    Marketing
65    Frank   NaN     NaN  user65@example.com        NaT  unknown        Admin
66    Grace  30.0   Other  user66@example.com        NaT    70000           HR
67   Hannah  40.0   Other  user67@example.com        NaT    80000    Marketing
68      Ivy  40.0  Female  user68@example.com        NaT    70000          NaN
69     Jack   NaN   Other  user69@example.com        NaT    50000  Engineering
70    Alice  40.0    Male  user70@example.com        NaT    50000    Marketing
71      Bob   NaN   Other  user71@example.com        NaT    80000  Engineering
72  Charlie  40.0  Female  user72@example.com        NaT    80000        Admin
73    David   NaN  Female  user73@example.com        NaT      NaN           HR
74      Eva   NaN     NaN  user74@example.com        NaT  unknown        Sales
75    Frank  35.0    Male  user75@example.com 2021-05-21      NaN           HR
76    Grace   NaN  Female  user76@example.com 2021-05-21  unknown    Marketing
77   Hannah  25.0  Female  user77@example.com        NaT      NaN  Engineering
78      Ivy  40.0   Other  user78@example.com 2021-05-21    70000  Engineering
79     Jack  30.0     NaN  user79@example.com        NaT    80000          NaN
80    Alice  40.0    Male  user80@example.com        NaT    50000  Engineering
81      Bob  30.0   Other  user81@example.com 2021-05-21  unknown          NaN
82  Charlie   NaN     NaN  user82@example.com 2021-05-21  unknown        Admin
83    David   NaN    Male  user83@example.com        NaT    50000        Sales
84      Eva   NaN    Male  user84@example.com        NaT      NaN    Marketing
85    Frank  30.0    Male  user85@example.com        NaT  unknown          NaN
86    Grace  40.0    Male  user86@example.com        NaT      NaN        Sales
87   Hannah   NaN    Male  user87@example.com        NaT    70000  Engineering
88      Ivy   NaN     NaN  user88@example.com        NaT    80000  Engineering
89     Jack   NaN     NaN  user89@example.com 2021-05-21    50000        Sales
90    Alice  30.0  Female                   -        NaT    80000  Engineering
91      Bob  30.0  Female                   -        NaT      NaN        Admin
92  Charlie  40.0    Male                   - 2021-05-21  unknown        Admin
93    David  30.0    Male                   -        NaT  unknown        Sales
94      Eva  30.0     NaN                   - 2021-05-21      NaN          NaN
95    Frank   NaN    Male                   -        NaT    50000          NaN
96    Grace  40.0    Male                   -        NaT    70000        Sales
97   Hannah   NaN    Male                   -        NaT    60000          NaN
98      Ivy   NaN  Female                   -        NaT    50000          NaN
99     Jack   NaN     NaN                   -        NaT    60000        Admin

In [21]:
ds["Salary"]=pd.to_numeric(ds["Salary"],errors='coerce')

In [22]:
print(ds.to_string())

       Name   Age  Gender               Email  Join_Date   Salary   Department
0     Alice   NaN     NaN   user0@example.com 2021-05-21      NaN        Admin
1       Bob  40.0    Male   user1@example.com        NaT  50000.0  Engineering
2   Charlie   NaN    Male   user2@example.com        NaT  50000.0           HR
3     David   NaN     NaN   user3@example.com 2021-05-21  70000.0        Admin
4       Eva  35.0   Other   user4@example.com        NaT  70000.0  Engineering
5     Frank   NaN   Other   user5@example.com        NaT  70000.0        Admin
6     Grace   NaN  Female   user6@example.com        NaT  80000.0  Engineering
7    Hannah   NaN   Other   user7@example.com 2021-05-21      NaN           HR
8       Ivy  30.0  Female   user8@example.com        NaT  50000.0  Engineering
9      Jack  35.0    Male   user9@example.com        NaT  80000.0  Engineering
10    Alice   NaN    Male  user10@example.com 2021-05-21  70000.0  Engineering
11      Bob  35.0    Male  user11@example.com        NaT  50000.0        Sales
12  Charlie  35.0    Male  user12@example.com        NaT  80000.0        Sales
13    David   NaN   Other  user13@example.com        NaT      NaN        Sales
14      Eva  40.0    Male  user14@example.com        NaT  80000.0           HR
15    Frank  35.0   Other  user15@example.com        NaT      NaN        Admin
16    Grace   NaN   Other  user16@example.com 2021-05-21  70000.0          NaN
17   Hannah   NaN    Male  user17@example.com        NaT      NaN  Engineering
18      Ivy  30.0    Male  user18@example.com 2021-05-21  50000.0  Engineering
19     Jack  40.0    Male  user19@example.com        NaT  70000.0           HR
20    Alice   NaN    Male  user20@example.com 2021-05-21  50000.0  Engineering
21      Bob   NaN    Male  user21@example.com        NaT      NaN        Sales
22  Charlie  30.0  Female  user22@example.com        NaT  60000.0          NaN
23    David  40.0  Female  user23@example.com        NaT      NaN    Marketing
24      Eva   NaN    Male  user24@example.com        NaT  60000.0  Engineering
25    Frank  25.0  Female  user25@example.com        NaT  60000.0        Sales
26    Grace  40.0  Female  user26@example.com        NaT      NaN    Marketing
27   Hannah  30.0    Male  user27@example.com 2021-05-21  70000.0          NaN
28      Ivy   NaN  Female  user28@example.com        NaT      NaN    Marketing
29     Jack   NaN   Other  user29@example.com 2021-05-21  50000.0        Sales
30    Alice  40.0  Female  user30@example.com 2021-05-21  80000.0        Admin
31      Bob  25.0  Female  user31@example.com        NaT  50000.0        Admin
32  Charlie  25.0    Male  user32@example.com 2021-05-21  80000.0    Marketing
33    David  35.0    Male  user33@example.com        NaT  50000.0           HR
34      Eva  35.0    Male  user34@example.com        NaT      NaN    Marketing
35    Frank   NaN    Male  user35@example.com        NaT      NaN  Engineering
36    Grace  30.0  Female  user36@example.com        NaT  80000.0  Engineering
37   Hannah  40.0    Male  user37@example.com        NaT      NaN        Admin
38      Ivy  40.0     NaN  user38@example.com 2021-05-21  70000.0           HR
39     Jack   NaN   Other  user39@example.com 2021-05-21  50000.0        Sales
40    Alice   NaN  Female  user40@example.com        NaT  50000.0  Engineering
41      Bob   NaN    Male  user41@example.com        NaT  80000.0        Admin
42  Charlie   NaN     NaN  user42@example.com        NaT  70000.0          NaN
43    David   NaN  Female  user43@example.com        NaT  70000.0        Admin
44      Eva  35.0  Female  user44@example.com        NaT      NaN  Engineering
45    Frank  40.0    Male  user45@example.com        NaT      NaN  Engineering
46    Grace   NaN  Female  user46@example.com        NaT      NaN        Admin
47   Hannah  40.0   Other  user47@example.com        NaT      NaN        Sales
48      Ivy  25.0     NaN  user48@example.com        NaT      NaN    Marketing
49     Jack  35.0  Female  user49@example.com        NaT      NaN  Engineering
50    Alice   NaN    Male  user50@example.com 2021-05-21      NaN        Admin
51      Bob  35.0   Other  user51@example.com        NaT      NaN        Admin
52  Charlie   NaN  Female  user52@example.com        NaT  70000.0           HR
53    David   NaN     NaN  user53@example.com        NaT      NaN    Marketing
54      Eva  25.0  Female  user54@example.com        NaT  70000.0          NaN
55    Frank   NaN    Male  user55@example.com        NaT  70000.0        Sales
56    Grace  30.0  Female  user56@example.com        NaT  60000.0          NaN
57   Hannah  40.0  Female  user57@example.com        NaT      NaN    Marketing
58      Ivy  25.0    Male  user58@example.com 2021-05-21      NaN    Marketing
59     Jack  40.0   Other  user59@example.com 2021-05-21  50000.0    Marketing
60    Alice   NaN  Female  user60@example.com        NaT  80000.0          NaN
61      Bob  30.0    Male  user61@example.com        NaT      NaN    Marketing
62  Charlie  30.0    Male  user62@example.com        NaT  50000.0        Admin
63    David  25.0   Other  user63@example.com        NaT      NaN          NaN
64      Eva  30.0    Male  user64@example.com        NaT  80000.0    Marketing
65    Frank   NaN     NaN  user65@example.com        NaT      NaN        Admin
66    Grace  30.0   Other  user66@example.com        NaT  70000.0           HR
67   Hannah  40.0   Other  user67@example.com        NaT  80000.0    Marketing
68      Ivy  40.0  Female  user68@example.com        NaT  70000.0          NaN
69     Jack   NaN   Other  user69@example.com        NaT  50000.0  Engineering
70    Alice  40.0    Male  user70@example.com        NaT  50000.0    Marketing
71      Bob   NaN   Other  user71@example.com        NaT  80000.0  Engineering
72  Charlie  40.0  Female  user72@example.com        NaT  80000.0        Admin
73    David   NaN  Female  user73@example.com        NaT      NaN           HR
74      Eva   NaN     NaN  user74@example.com        NaT      NaN        Sales
75    Frank  35.0    Male  user75@example.com 2021-05-21      NaN           HR
76    Grace   NaN  Female  user76@example.com 2021-05-21      NaN    Marketing
77   Hannah  25.0  Female  user77@example.com        NaT      NaN  Engineering
78      Ivy  40.0   Other  user78@example.com 2021-05-21  70000.0  Engineering
79     Jack  30.0     NaN  user79@example.com        NaT  80000.0          NaN
80    Alice  40.0    Male  user80@example.com        NaT  50000.0  Engineering
81      Bob  30.0   Other  user81@example.com 2021-05-21      NaN          NaN
82  Charlie   NaN     NaN  user82@example.com 2021-05-21      NaN        Admin
83    David   NaN    Male  user83@example.com        NaT  50000.0        Sales
84      Eva   NaN    Male  user84@example.com        NaT      NaN    Marketing
85    Frank  30.0    Male  user85@example.com        NaT      NaN          NaN
86    Grace  40.0    Male  user86@example.com        NaT      NaN        Sales
87   Hannah   NaN    Male  user87@example.com        NaT  70000.0  Engineering
88      Ivy   NaN     NaN  user88@example.com        NaT  80000.0  Engineering
89     Jack   NaN     NaN  user89@example.com 2021-05-21  50000.0        Sales
90    Alice  30.0  Female                   -        NaT  80000.0  Engineering
91      Bob  30.0  Female                   -        NaT      NaN        Admin
92  Charlie  40.0    Male                   - 2021-05-21      NaN        Admin
93    David  30.0    Male                   -        NaT      NaN        Sales
94      Eva  30.0     NaN                   - 2021-05-21      NaN          NaN
95    Frank   NaN    Male                   -        NaT  50000.0          NaN
96    Grace  40.0    Male                   -        NaT  70000.0        Sales
97   Hannah   NaN    Male                   -        NaT  60000.0          NaN
98      Ivy   NaN  Female                   -        NaT  50000.0          NaN
99     Jack   NaN     NaN                   -        NaT  60000.0        Admin

In [23]:
ds["Department"].unique()

array(['Admin', 'Engineering', 'HR', 'Sales', nan, 'Marketing'],
      dtype=object)

In [24]:
x=ds["Department"].mode()[0]
x

'Engineering'

In [25]:
ds["Department"].fillna(x,inplace=True)

C:\Users\kirti\AppData\Local\Temp\ipykernel_11148\1770842687.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  ds["Department"].fillna(x,inplace=True)

In [26]:
ds["Department"].unique()

array(['Admin', 'Engineering', 'HR', 'Sales', 'Marketing'], dtype=object)

In [27]:
ds.to_csv("cleaned_data")

In [28]:
#make